@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import "tailwindcss";

body {
  font-family: "Baloo 2", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 75s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-swiper .swiper-slide:not(.swiper-slide-active) {
  border-left: 4px solid white;
}

@media (min-width: 1024px) and (max-width: 1114px) {
  #items {
    display: none;
  }
}

/* Default grid: 1 column */
.my-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 0.75rem;
  /* gap-3 = 12px = 0.75rem */
}

/* Small screens and above: 2 columns */
@media (min-width: 640px) {
  .my-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Between 768px and 1272px: 3 columns */
@media (min-width: 768px) and (max-width: 1279px) {
  .my-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Above 1272px: 4 columns */
@media (min-width: 1280px) {
  .my-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@keyframes updown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@keyframes move-horizontal {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in-out {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

/* @media (min-width: 1024px) and (max-width: 1250px) {
  .custom-grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 60rem;
    height: 50vh;
    overflow-y: auto;
  }
} */

@keyframes bounce-chevrons-y {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-20px);
  }
}

@keyframes bounce-chevrons-x {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-20px);
  }
}

.animate-bounce-y {
  animation: bounce-chevrons-y 1s ease-in-out 2;
}

.animate-bounce-x {
  animation: bounce-chevrons-x 1s ease-in-out 2;
}

input[type="file"]::file-selector-button {
  appearance: none;
  background-color: transparent;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 8px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
  border-color: #d1d5db;
}

input[type="file"]:focus-within::file-selector-button {
  border-color: #00bbae;
  outline: none;
}

.ribbon {
  clip-path: polygon(100% 0%, 85% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
}

.ribbon-flip {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 51%, 0% 0%);
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-blink {
    animation: none !important;
  }
}